if productos.length
                table.table
                    thead 
                        tr 
                            th id 
                            th Titulo 
                            th Precio 
                            th Imagen
                    tbody
                        each producto in productos 
                            tr 
                                td=producto.id
                                td=producto.nombre
                                td=producto.precio
                                td
                                    img(src=producto.imagen)
else 
    .alert.alert-warning.alert-dismissible.fade.show(role='alert')
        strong no hay productos
        button.btn-close(data-bs-dismiss="alert" aria-label="Close")
                    
    